<!-- <form>
    <div>
        <label for="un">username: </label>
        <input id="un" [(ngModel)]="name"  [ngModelOptions]="{standalone: true}" placeholder="Enter your name"  > 
        <p>Hello, {{ name }}!</p>
    </div>

    <div>
        <label for="pw">password: </label>
        <input id="pw">
    </div>

    <div>
        <button class="login">login</button>
    </div>
</form> -->


<!-- normal img tag
<img src="https://okcredit-blog-images-prod.storage.googleapis.com/2021/03/Software-Development-Business1--1-.jpg" >

image tag with property binding
<img [src]="image" width="100%"> -->

 <!--  <h1>welcome</h1>
<ng-template>to</ng-template>
<h1>edureka</h1>
<input [value]="username">

<button [disabled]="isDisabled">Click Me</button>

<div [class.special]="isSpecial">This is a special div</div> --> 


<!-- event binding -->
<!-- <button (click)="onClickMe()">Click me</button>
<p>{{ message }}</p> -->

<h2>welcome to registration component</h2>
<h2>my name is {{name}}</h2>



<!-- ngIf example -->
 <div *ngIf="isLoggedIn">
    Welcome, user!
  </div> 
  
   <div *ngIf="!isLoggedIn">
    Please log in.
  </div> 
  
  <!-- ngFor example -->
   <ul>
    <li *ngFor="let i of items">{{ i }}</li>
  </ul> 
  
  <!-- ngSwitch example -->
   <!-- <div [ngSwitch]="status">
    <div *ngSwitchCase="'online'">User is online</div>
    <div *ngSwitchCase="'offline'">User is offline</div>
    <div *ngSwitchDefault>User status is unknown</div>
  </div> 

<div>
  <h1>{{ title }}</h1>
  <label for="username">Username:</label>
  <input type="text" id="username" [(ngModel)]="username">
  <p>Hello, {{ username }}!</p>
</div> -->

  
  